@media(max-width:630px){
    .container{
        width: 100%;
        height: 100vh;
    }
    .one-date{
        margin-top: 4rem;
    }
    #oneyear p {
        font-size: 20px;
    }
    #oneyear span{
        margin-left: 10px;
        font-family: digital-7 ;
        font-size: 50px;
    }
    .onetime{
        margin-top: 2rem;
    }
    .onetime p{
        font-size: 20px;
    }
    .onetime h1{
       
        font-size: 40px;
        margin-top: 5px;
        margin-left: 0px;
    }
    .onetime .ampm h1{
        font-size: 20px;
    }
    .onetime .ampm h1{
        font-size: 20px;
    }
    .oneday{
        margin-top: 2rem;
    }
    .oneday h1{
    
        font-size: 14px;
        margin-top: 30px;
    }

}

@media(min-width:631px){
    .container{
        width: 80%;
    } 
    #oneyear p {
        font-size: 50px;
    }
    #oneyear span{
    
        font-family: digital-7 ;
        font-size: 80px;
    }
    .onetime p{
        font-size: 50px;
    }
    .onetime h1{
        margin-top: 20px;
        margin-left: 10px;
        font-size: 10em;
    }
    .onetime .ampm h1{
        font-size: 50px;
    }
    .oneday h1{
    
        font-size: 50px;
    }

}